/*
* =========================
* Forms
* =========================
*/
input{
    margin: 0;
    padding: 1rem;
    line-height: 1.6rem;
    border: 1px solid #888;
    cursor: text;
    font-size: 1.6rem;
    flex-grow: 1;
    border-radius: 4px;
}
/*
* =========================
* Buttons
* =========================
*/
button{
    margin: 0;
    padding: 1.2rem;
    display: inline-flex;

    border: none;
    border-radius: .3rem;

    color: white;
    font-size: 1.2rem;
    line-height: 1.2rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;

    box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
    transition: all 100ms ease-in-out;
}
button[disabled]{
    opacity: 0.5;
}
.btn-blue{
    background-color: #006699;
}
.btn-blue:hover{
    background-color: #0080c4;
}
.btn-green{
    background-color: #459900;
    color: white;
}
.btn-green:hover{
    background-color: #408c00;
}
.btn-red{
    background-color: #CCC;
    color: #333;
}
.btn-red:hover{
    background-color: #BBB;
    color: #111;
}
/*
* =========================
* Transitions
* =========================
*/
@keyframes fadeInRight {
    0% {
        opacity: 0;
        filter: blur(0.1rem);
        transform: translateX(20px);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        filter: blur(0.1rem);
        transform: translateX(-20px);
    }
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.3);
        filter: blur(1.5rem);
    }
}

.fadeInRight,
.fadeInLeft,
.fadeOut {
    animation-duration: 180ms;
    animation-fill-mode: both;
}
.fadeInLeft {
    animation-name: fadeInLeft;
    animation-timing-function: ease-in;
}
.fadeInRight {
    animation-name: fadeInRight;
    animation-timing-function: ease-in;
}
.fadeOut {
    animation-name: fadeOut;
    animation-timing-function: ease-in;
}